*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3rem;
    min-width: 400px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    width: 100%;
    padding-top: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-color: #e0e0e0;
    line-height: 1.2rem;
    border: none;
    outline: none;
}

button{
padding: 1rem 2rem;
color: white;
font-weight: bold;
background-color: wheat;
border: none;
outline: none;
cursor: pointer;
background-color: lightskyblue;
border-radius: 2rem;
font-size: 1rem;
margin-bottom: 2rem;
}

button #delete-btn{
padding: 1rem 2rem;
color: white;
font-weight: bold;
background-color: wheat;
border: none;
outline: none;
cursor: pointer;
background-color: lightskyblue;
border-radius: 2rem;
font-size: 1rem;
margin-bottom: 2rem;
}

button #save-tabs-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;

}
ul {
    list-style: none;
    margin-top: 2rem;
}

li{
background-color: bisque;
border: none;
outline: none;
width: fit-content;
border-radius: 2rem;
padding: 1rem 2rem;
margin-bottom: 1.5rem;
}

a{
color: #222342;
text-decoration: none;
font-weight: bold;
}